<app-header></app-header>



<section class="py-5 mt-6">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center" *ngIf="meal|async as m">
            <img style="max-width: 100%; max-height: 60vh; margin: auto;" class="rounded-4 fit" [src]="m.image">
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3" *ngIf="meal|async as m">
          <h4 class="title text-dark">
            {{m.name}}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <!-- <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span> -->
              <span class="ms-1">
                {{m.price | currency}}
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{totalorders}} orders</span>
            <span class="text-success ms-2">Today</span>
          </div>

          <p>
            {{m.description}}
          </p>



          <hr>

          <div class="row mb-4">

            <!-- col.// -->
            <div class="col-md-12 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <form [formGroup]="orderForm" (ngSubmit)="addToCart()">
                <label for="quantity">Select Quantity:</label>
                <select formControlName="quantity" id="quantity">
                  <option *ngFor="let num of quantities" [value]="num">{{ num }}</option>
                </select>
                <button type="submit" class="btn btn-primary shadow-0 col-md-6 float-right"><app-add-to-cart *ngIf="meal|async as m" [item]="m" [quantity]="quantity"></app-add-to-cart></button>
              </form>
            </div>
          </div>
          <button class="btn btn-warning shadow-0" (click)="changePage()"> Go Back </button>
        </div>
      </main>
    </div>
  </div>
</section>

<app-footer></app-footer>
