<div class="row mb-6">
  <div class="col-sm-4 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fx40 bi bi-plus primary font-large-2 float-left pointer"></i>
            </div>
            <div class="media-body text-right">
              <h3>278</h3>
              <span>New Meal</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fx40 bi bi-search primary font-large-2 float-left pointer"></i>
            </div>
            <div class="media-body text-right">
              <h3>Query</h3>
              <span>Find Meal</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fx40 bi bi-cloud-download primary font-large-2 float-left pointer"></i>
            </div>
            <div class="media-body text-right">
              <h3>Download</h3>
              <span>Generate Report</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <p>Render Table here</p>
  </div>
</div>
